h3 {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.author, .commenter {
    display: flex;
    flex-direction: column;
    
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="text"], textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #242424;
    color: #fff;
}

button {
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}